<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{.}}" alt="avatar"></div>
    {{ end }}
    <!-- <h1>{{ .Site.Params.author }}</h1> -->
    <p>Hi, I'm <span class="highlight">Abati Adewale</span> but a lot of people call me <span class="highlight">Ace</span>. A Web Developer {PHP, JS}, Advocate, <a href="https://github.com/acekyd" rel="noopener" target="_blank">Open Sourcer</a>, Public Speaker and <a href="https://youtube.com/acekyd" rel="noopener" target="_blank">YouTuber</a> currently building the techosystem at <a href="https://ingressive.co" rel="noopener" target="_blank">Ingressive</a>. I love to Ace <span class="strike">Shii</span> things up. I tried to think of something witty to write here but I'd just leave it to your wits. ♠️</p>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li class="icons"><a href="{{ .url }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
