<section class="container list">
  <div class="reduced">
    <h1 class="title">{{ .Title }}</h1>
    <ul>
      {{ range .Paginator.Pages }}
      <li class="post-list">
        {{ if .Params.tags }}
        <p class="tags">
          {{ range $index, $tags := .Params.tags }}{{ if gt $index 0 }}, {{ end }}
          <small>{{ . }}</small>{{ end }}
        </p>
        {{ end }}
        <a class="post-title" href="{{ .URL }}">{{ .Title }}</a>
        <p class="post-description">{{ .Description }}</p>
        <small class="blog-date">Posted {{ .Date.Format "January 2, 2006" }}. {{ .ReadingTime }} min read.</small>
      </li>
      <br />
      {{ end }}
    </ul>
  </div>
  {{ partial "pagination.html" . }}
</section>
